.sidebarChat {
  background-color: #111b21;
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-top: 1px solid #202c33;
}

.sidebarChat:hover {
  background-color: #202c33;
}

.sidebarChat__info > h2 {
  color: #e9edef;
  font-size: 16px;
  margin-bottom: 8px;
}
.sidebarChat__info > p {
  color: #8696a0;
}

.sidebarChat__info {
  margin-left: 15px;
}
